<% include partials/header.ejs %>
<div class="table-wrapper">
        <% if (appointments.length > 0) { %>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Registration Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% appointments.forEach((appointment, index) => { %>
                        <tr>
                            <th scope="row"><%= appointment.id %></th>
                            <td><%= appointment.name %></td>
                            <td><%= appointment.reg_no %></td>
                            <td><%= appointment.email %></td>
                            <td><%= appointment.date %></td>
                            <td>
                                <a href="appointment/set/<%= appointment.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Set</a>
                                <a href="appointment/delete/<%= appointment.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No appointments set. Check some other time.</p>
        <% } %>
    </div>